In [1]:
import pandas as pd 
import numpy as np
import math

In [8]:
df = pd.read_excel(r'C:\Users\ygala\Dropbox\sic2007summaryofstructurtcm6.xls')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,SECTION,NaN,Division,NaN,Group,NaN,Class,NaN,Sub Class,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A,"AGRICULTURE, FORESTRY AND FISHING",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,01,"Crop and animal production, hunting and relate...",NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
heads = [str(df.loc[0].values[i-1])+' name' if str(h)=='nan' else h for i,h in enumerate(df.loc[0].values) ]
df_new = df[1:]
headers = [h.capitalize() for h in heads]

df_new.columns=headers
df_filled = df_new.dropna(how='all')
df_filled[headers[:6]] = df_filled[headers[:6]].fillna(method='ffill')
df_final = df_filled.dropna(how='all', subset=['Class', 'Sub class'])
df_final[headers[:-2]] = df_final[headers[:-2]].fillna(method='ffill')

for h in ['Group', 'Class', 'Sub class']:
    df_final[h].loc[df_final[h].isnull()]='nan' 
    df_final[h] = df_final[h].str.replace('[/,.]','')

In [12]:
df_write = df_final.reset_index(drop=True)
df_write['Section name'] = df_write['Section name'].str.capitalize()
df_write.to_csv(r'C:\Users\ygala\Dropbox\sic2007Conversion.csv')